@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "PlayfairDisplay", sans-serif;
}

body {
    background: #1B2030;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
}

main  {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #8880FE;
    font-size: 3rem;
    margin-bottom: 3rem
}

main.social -media {
    display: flex;
    align-items: center;
}

main .social-media a {
    text-decoration: none;
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img {
    margin-left: 0;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top:  2rem;
}

main form input {
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgba(166, 166, 166)
    font-size 1rem;
    border: 1px solid #040B18;
    border-radius8px:
}


main form input [type="submit"] {
    cursor: pointer;
    width: 50;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #6C63FF;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-our;
}

main form input [type="submit"] hover {
    background: #5952d4;
}

section.images {
    display: flex;
    align-items: flex-end;
    padding: 4rem;
}

section.images img {
    width: 90%;
}

section.images .cicle {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
}


